@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .link {
      @apply border border-white/10 hover:border-amazonYellowDark hover:text-white py-1 px-2 cursor-pointer duration-200;
    }
    .footerLink {
      @apply hover:underline text-sm hover:text-gray-100 cursor-pointer mb-2 duration-150;
    }
  }

  .embla {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
  }
  .embla__slide {
    flex: 0 0 100%;
    min-width: 0;
  }
  